---
- name: Manage OS-specific dependencies.
  include: "dependencies_{{ ansible_os_family }}.yml"

- name: Download the ruby source in /usr/local/src if not yet present
  get_url:
    url: https://cache.ruby-lang.org/pub/ruby/{{ ruby_major_minor }}/ruby-{{ ruby_version }}.tar.xz
    dest: /usr/local/src/ruby-{{ ruby_version }}.tar.xz
    checksum: "{{ ruby_version_checksum }}"

- name: Upload the ruby install script
  template: src=ruby-install.j2 dest=/usr/local/src/ruby-{{ ruby_version }}-install.sh owner=root group=root mode=0755

- name: Configure gems so that docs are not generated
  copy: src=gemrc dest=/etc/gemrc owner=root group=root mode=0644

- name: Install ruby version {{ ruby_version }} from source
  command: /usr/local/src/ruby-{{ ruby_version }}-install.sh creates=/usr/local/src/ruby-{{ ruby_version }}/ruby
  become: yes

- name: Install bundler gem
  gem:
    name: bundler
    user_install: no
    version: "{{ ruby_bundler_version }}"
    executable: /usr/local/bin/gem

- name: Install latest version of rubygems
  gem:
    name: rubygems-update
    state: latest
    user_install: no
    executable: /usr/local/bin/gem
